*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--family-oswald: "Oswald", sans-serif;
	--family-montserrat: "Montserrat", sans-serif;

	--color-dark: #352f44;
	--color-dark-light: #5c5470;
	--color-gray: #b9b4c7;
	--color-white: #faf0e6;

	--font-18px: 1.125rem;
	--font-21px: 1.3125rem;
	--font-24px: 1.5rem;
	--font-30px: 1.875rem;
	--font-36px: 2.25rem;
	--font-90px: 5.625rem;
}

body {
	margin: 0;
	padding: 0;
	background: var(--color-white);
}
img {
	max-width: 100%;
}
.container {
	margin: 0 auto;
	width: 80%;
	position: relative;
}
h1 {
	color: var(--color-dark);
	font-size: 2.4rem;
	font-family: "Brush Script MT", cursive;
	text-shadow: 0rem 0.2rem 0.7rem rgb(0, 0, 0);
}
p {
	color: var(--color-dark);
	font-size: 1.2rem;
	font-family: "Montserrat", sans-serif;
	font-family: Georgia, serif;
}
.nav-toggle {
	cursor: pointer;
	border: 0;
	width: 3em;
	height: 3em;
	padding: 0;
	border-radius: 50%;
	background: #072a2d;
	color: white;
	transition: opacity 250ms ease;
	position: absolute;
	left: 0;
	margin-top: 1em;
}

.nav-toggle:focus,
.nav-toggle:hover {
	opacity: 0.75;
}
.hamburger {
	width: 50%;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	display: block;
	margin: 0 auto;
	height: 3px;
	background: white;
}

.hamburger::before,
.hamburger::after {
	content: "";
	width: 100%;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}
header {
	background: var(--color-dark-light);
	text-align: center;
	padding: 0.3em 0;
}
.nav {
	visibility: hidden;
	height: 0;
	position: absolute;
	width: 100%;
}
.nav--visible {
	visibility: visible;
	height: auto;
	position: relative;
}
.logo {
	margin-left: 2em;
	max-width: 2em;
	transition: all 2s;
}

li,
a {
	list-style: none;
	text-decoration: none;
	color: #ffffff;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	box-shadow: inset 0 0 0 0 #f8f8f8ca;
}

.nav-items {
	margin-top: 2em;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-size: 1.2em;
}

.nav-links {
	padding: 0 0 2em;
}
a:hover {
	box-shadow: inset 9.375rem 0 0 0 var(--color-white);
	color: var(--color-dark);
}
.top {
	background: var(--color-dark-light);
}

#about {
	background: var(--color-gray);
	color: var(--color-dark);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-image: url(.img/background.jpg);
}
#about .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1.3em;
	border: 0.188 solid rgb(255, 255, 255);
	border-radius: 100rem;
	text-align: center;
	box-shadow: 0.125rem 0.125rem 0.938rem 0.125rem black;
	background: var(--color-white);
}
.placeholder {
	border: 0.938em solid #2e323f;
	border-radius: 50%;
	box-shadow: 0.125em 0.125em 0.188em black;
}
.placeholder img {
	max-height: 17rem;
	border-radius: 100%;
	display: flex;
}

#clue-container {
	max-width: 100%;
	background-size: cover;
	color: var(--color-dark-light);
	text-align: center;
	padding: 1em;
}

#clue-container h2 {
	color: var(--color-dark);
}
#clue-container h1 {
	color: var(--color-dark);
}
#contact {
	width: 100%;
	text-align: center;
}
#contact p {
	margin-bottom: 1.25rem;
}
.contact-container {
	gap: 1.875rem;
}
.contact-icon {
	max-width: 3em;
	max-height: 3em;
}

#gallery {
	max-width: 100%;
	text-align: center;
	background: var(--color-white);
}
.image-text img {
	border-radius: 20%;
	box-shadow: 0.313rem 0.313rem 0.625rem 0.313rem rgb(0, 0, 0);
	max-width: 9em;
	max-height: 8.5em;
	margin-bottom: 0.938rem;
}
.image-icon {
	border: 0.4em solid var(--color-dark);
}
#gallery p {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--color-dark);
}

#info {
	text-align: center;
	margin: 0.5em;
	margin-bottom: 3em;
	padding: 3em;
}

.footer {
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-dark);
	color: var(--color-white);
}
.footer p {
	font-size: 1rem;
	color: var(--color-white);
}
@media (min-width: 500px) {
	h1 {
		font-size: 2.6rem;
	}
	#clue-container {
		padding: 1em 2em;
		max-height: 80vh;
	}
	#gallery {
		display: flex;
		text-align: center;
		flex-direction: column;
		padding: 4em;
	}
	.gallery-images {
		gap: 3.75rem;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		align-content: center;
	}
}
@media (min-width: 800px) {
	p {
		font-size: 1.3rem;
	}
	.nav-toggle {
		display: none;
	}
	.nav {
		visibility: visible;
		display: flex;
		height: auto;
		align-items: center;
		position: relative;
		flex-direction: row;
		justify-content: flex-end;
	}
	.nav-items {
		display: flex;
		margin: 0;
	}
	.nav-links {
		padding: 0 0 0 1.5em;
	}
	.container {
		display: flex;
		justify-content: space-between;
	}
	header {
		width: 100%;
		position: fixed;
		z-index: 300;
	}
}
@media (min-width: 1000px) {
	p {
		font-size: 1.4rem;
	}
	h1 {
		font-size: 3rem;
	}
	#about .container {
		flex-direction: row;
		height: 30rem;
	}
	.placeholder img {
		max-width: 18.75rem;
	}
	.text-box {
		max-width: 700px;
	}
	#clue-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.clue-info {
		display: flex;
		justify-content: center;
		gap: 3.25rem;
	}
	.clue-holder {
		max-width: 300px;
	}

	#info p {
		margin: 0 auto;
		max-width: 1000px;
		margin-bottom: 1em;
	}
}
